@model mercado.DTO.CategoriaDTO

@{
    Layout = "_LayoutAdmin";
}

<h1>Editando categoria</h1>
<hr>

<form class="form form-horizontal" asp-action="Update" asp-controller="Categorias" method="POST">
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="Nome">Nome</label>
        <input type="text" class="form-control" asp-for="Nome" placeholder="Nome da categoria">
        <span asp-validation-for="Nome" style="color: red"></span>
    </div>
    <input class="btn btn-success" type="submit" asp-controller="Categorias" asp-action="Update" value="Salvar">
</form>