@model mercado.DTO.FornecedorDTO

@{
    Layout = "_LayoutAdmin";
}

<h1>Novo Fornecedor</h1>
<hr>

<form class="form form-horizontal" asp-action="Store" asp-controller="Fornecedores" method="POST">
    <input type="hidden" asp-for="Id" value="0">
    <div class="form-group">
        <label asp-for="Nome">Nome</label>
        <input type="text" class="form-control" asp-for="Nome" placeholder="Nome do fornecedor">
        <span asp-validation-for="Nome" style="color: red"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="Email do fornecedor">
        <span asp-validation-for="Email" style="color: red"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefone">Telefone</label>
        <input type="text" class="form-control" asp-for="Telefone" placeholder="Telefone do fornecedor">
        <span asp-validation-for="Telefone" style="color: red"></span>
    </div>
    
    <input class="btn btn-success" type="submit" value="Cadastrar">
</form>